<!-- HEADER -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<header class="header" id="home">
  <div class="container">
    <nav class="header-navigation" aria-label="navigation">
      <div class="logo"><span class="yellow">Electronic</span>Planet</div>
      <img src="https://raw.githubusercontent.com/Manoranjan-D/responsive-website-gym/master/img/nav-icon.svg" alt="navigation icon" class="nav-icon" width="30" height="30" />
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="product-list">Products</a></li>
        <li><a href="cart">Cart</a></li>
        <li><a href="login">Sign Out</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <!-- HERO SECTION -->
  <section class="section-hero">
    <div class="container hero-box">
      <div class="hero-content margin-bottom">
        <h1 class="heading heading--1 margin-bottom"><span class="yellow">Electronic </span>Planet</h1>
        <p class="description text">"Welcome to Electronic Planet—where cutting-edge technology meets <span class="yellow">UNBEATABLE</span> prices! Explore a world of affordable electronics designed to elevate your lifestyle. From smartphones to smart home devices, we bring you the latest innovations without breaking the bank. Experience hassle-free shopping with fast shipping and exceptional customer support. Join us in making technology accessible for everyone!"</p>
      </div>
    </div>
  </section>

  <!-- SECTION ABOUT -->
  <section class="section-about" id="about">
    <div class="about-box container text">
      <div class="about-box__content" data-aos="fade-up">
        <h2 class="heading heading--2"><span class="yellow">Electronic</span> Planet: Your Destination for Affordable Electronics</h2>
        <p>Welcome to Electronic Planet, your one-stop eCommerce platform for all things electronics! Our mission is to make cutting-edge technology accessible to everyone without breaking the bank. Whether you’re looking for the latest smartphones, laptops, home appliances, or accessories, we’ve got you covered with unbeatable prices and a user-friendly shopping experience.</p>
        <a href="#" class="link-button">Read More →</a>
      </div>
      <figure class="about-box__image" data-aos="fade-up">
        <img src="https://plus.unsplash.com/premium_photo-1665203485797-6fe4e8755beb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="about-image-one" width="350" height="233" />
        <img src="https://images.unsplash.com/photo-1566709603547-638aba3dbbc0?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="about-image-two" width="350" height="233" />
        <img src="https://plus.unsplash.com/premium_photo-1683531060518-ce77d964c6d2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="about-image-three" width="420" height="280" />
      </figure>
    </div>
  </section>

  <!-- SECTION PRODUCTS -->
  <section class="section-courses" id="courses">
    <div class="container courses-box" data-aos="fade-up">
      <header class="courses-heading">
        <h2 class="heading heading--2 underline">Our Products</h2>
        <p class="text">At Electronic Planet, we provide a wide range of high-quality electronics to suit your needs. Shop our powerful laptops for work and gaming, cutting-edge smartphones with stunning displays, and a variety of speakers from portable Bluetooth to high-fidelity home systems. For audio enthusiasts, our headphones include noise-canceling options and sleek in-ear designs. Each product is selected to ensure you get top quality at unbeatable prices. Discover your next favorite device with us today!</p>
      </header>

      <article class="courses-content">
        <div class="class-card">
          <img class="class-card__img" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Laptops" width="550" height="550" />
          <div class="class-card__overlay">
            <div class="text">
              <p>Discover our range of high-performance laptops at Electronic Planet, perfect for gaming or work.</p>

            </div>
          </div>
          <div class="class-card__title">Laptops</div>
        </div>

        <div class="class-card">
          <img class="class-card__img" src="https://images.unsplash.com/photo-1511680059018-e7cc6c0f22c8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Phones" width="550" height="550" />
          <div class="class-card__overlay">
            <div class="text">
              <p>Explore our selection of smartphones, featuring stunning displays and powerful cameras.</p>

            </div>
          </div>
          <div class="class-card__title">Phones</div>
        </div>

        <div class="class-card">
          <img class="class-card__img" src="https://images.unsplash.com/photo-1525091752287-44ce44eab2fa?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Audio Devices" width="550" height="550" />
          <div class="class-card__overlay">
            <div class="text">
              <p>Elevate your sound experience with our range of audio devices at Electronic Planet.</p>

            </div>
          </div>
          <div class="class-card__title">Audio Devices</div>
        </div>
      </article>
    </div>
  </section>

  <!-- SECTION REVIEW -->
  <section class="section-review" id="review">
    <div class="review-box container" data-aos="fade-up">
      <h2 class="heading heading--2 underline margin-bottom grid-center">What People Say</h2>

      <div class="review-card">
        <img src="https://raw.githubusercontent.com/Manoranjan-D/responsive-website-gym/master/img/review-img-1.jpg" alt="user" class="review-card__image" width="100" height="100" />
        <blockquote class="review-card__content">
          <p class="text">"I recently purchased a laptop from Electronic Planet, and I couldn’t be happier! The selection was fantastic, the prices were unbeatable, and my new laptop performs flawlessly. I highly recommend them for all your tech needs!"</p>
          <div class="name">Cesar Rincon</div>
        </blockquote>
      </div>

      <div class="review-card">
        <img src="https://raw.githubusercontent.com/Manoranjan-D/responsive-website-gym/master/img/review-img-2.jpg" alt="user" class="review-card__image" width="100" height="100" />
        <blockquote class="review-card__content">
          <p class="text">"I love my new smartphone from Electronic Planet! The staff helped me find exactly what I needed, and I saved so much compared to other retailers. Fast shipping and great customer service—I'll definitely be back!"</p>
          <div class="name">Mathilde Langevin</div>
        </blockquote>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="section-footer" id="footer">
    <div class="footer-box container">
      <div class="contact-details">
        <h2 class="margin-bottom"><span class="yellow">Electronic</span>Planet</h2>
        <ul class="contact-data">
          <li class="location">123 Tech Lane, Gadgetville, CA 90210</li>
          <li class="phone">(555) 123-4567</li>
          <li class="social">
            <img src="https://raw.githubusercontent.com/Manoranjan-D/responsive-website-gym/master/img/logo-whatsapp.svg" alt="whatsapp icon" width="35" height="35" />
            <img src="https://raw.githubusercontent.com/Manoranjan-D/responsive-website-gym/master/img/logo-facebook.svg" alt="facebook icon" width="35" height="35" />
            <img src="https://raw.githubusercontent.com/Manoranjan-D/responsive-website-gym/master/img/logo-instagram.svg" alt="instagram icon" width="35" height="35" />
            <img src="https://raw.githubusercontent.com/Manoranjan-D/responsive-website-gym/master/img/logo-twitter.svg" alt="twitter icon" width="35" height="35" />
          </li>
        </ul>
      </div>

      <nav class="footer-nav" aria-label="navigation">
        <div class="nav-name">Quick Links</div>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="#about">About</a></li>
          <li><a routerLink="#courses">Products</a></li>
        </ul>
      </nav>

      <div class="newsletter">
        <div class="newsletter__title"><span class="yellow">Thank</span> You!</div>
        <div class="newsletter__text text">Thank you for choosing <span class="yellow">Electronic</span> Planet! We appreciate your support and are thrilled to have you as part of our community. If you have any questions or need assistance, feel free to reach out. Happy shopping, and enjoy your new tech!</div>
      </div>
    </div>
  </footer>
</main>
